/* General styling */

html {
  font-size: 18px; /*sets base font size*/
  font-family: Helvetica;
}

body {
  margin: auto;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.3rem;
}

.container {
  width: 100%;
  display: flex;
  border: 1px solid red;
}

/* header section */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding-left: 24px;
  padding-right: 24px;
}

.logo {
  height: 32px;
}

header .colmar {
  font-weight: bold;
}

header .academy {
  font-weight: bold;
  color: grey;
}

header nav {
  text-align: right;
}

nav span {
  display: inline-block;
  padding-left: 16px;
  color: black;
  text-decoration: none;
}

/* main banner section */

.main-banner {
  align-items: center;
  height: auto;

}

.banner-img {
  width: 60%;
  padding: 32px 24px;
}

.banner-img img {
  width: 100%;
}

.banner-text {
  width: 26%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 24px;
}

.banner-text h1 {
  padding-bottom: 24px;
}

.banner-text h3 {
  padding-bottom: 24px;
}

.banner-text span {
  background-color: grey;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  text-decoration: none;
}

/* info section */

.info {
  height: auto;
}

.info-left {
  display: flex;
  flex-direction: column;
  padding: 32px 24px;
  border: 2px solid red;
  width: 60%;
}


.info-left-img img {
  width: 100%;
}

.info-right {
  width: 40%;
  height: auto;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  border: 2px solid red;
  padding: 32px 24px;
}

.info-slot {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  border: 1px solid red;

}

.info-right-img {
  height: auto;
  max-width: 35%;
  border: 1px solid black;
  padding: 16px 16px;
}

.info-right-img img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border: 1px solid black;
}

.info-right-text {
  width: 65%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  border: 1px solid black;
}

.info-right-text .readmore {
  padding-top: 8px;
}

/* learning section */

.learning {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.section-heading {
  padding-top: 32px;
  padding-bottom: 32px;
  align-content: center;
}

.learning-slots {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 72px;
  margin-right: 72px;
}

.learning-slot {
  height: auto;
  padding-bottom: 16px;
  padding-right: 32px;
  border: 1px solid red;
  width: 30%;
  box-sizing: border-box;
}

.learning-slot-img img {
  width: 100%;
  height: 100%;
}

.learning-slot-text {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}




/* exhibition section */

.exhibit {
  width: 100%;
}

.exhibit-left {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.exhibit-video {
  width: 100%;
  height: auto;
}

.exhibit-video video {
  width: 100%;
}

.exhibit-right {
  width: 40%;
  height: auto;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}


.exhibit-slot {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  border: 1px solid red;

}

.exhibit-right-img {
  height: auto;
  max-width: 35%;
  padding: 16px 16px;
}

.exhibit-right-img img {
  width: 100%;
  height: 100%;
}

.exhibit-right-text {
  width: 65%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  border: 1px solid black;
}
