/* General styling */

html {
  font-size: 18px; /*sets base font size*/
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: auto;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-weight: bold;
}

.container {
  width: 100%;
  display: flex;
}

/* header section */

/* regular header */

.reg_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding-left: 24px;
  padding-right: 24px;
}

.mobile_nav {
/* commented out unless screen <870px */
   display: none;
 }

.logo {
  height: 32px;
  display: flex;
  align-items: center;
}

header .colmar {
  font-weight: bold;
}

header .academy {
  font-weight: bold;
  color: grey;
}

header nav {
  text-align: right;
  padding-right: 24px;
}

nav span {
  display: inline-block;
  padding-left: 16px;
  color: black;
}

nav span a {
  text-decoration: none;
  color: grey;
}

/* mobile header */


/* main banner section */

.main-banner {
  align-items: center;
  height: auto;
}

.banner-img {
  width: 60%;
  padding: 32px 24px;
}

.banner-img img {
  width: 100%;
}

.banner-text {
  width: 26%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 24px;
}

.banner-text h1 {
  padding-bottom: 24px;
}

.banner-text h3 {
  padding-bottom: 24px;
}

.banner-text span {
  background-color: grey;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  text-decoration: none;
}

.banner-text span a {
  text-decoration: none;
  color: white;
}

/* info section */

.info {
  height: auto;
}

.info-left {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-top: 32px;
  padding-right: 24px;
  padding-left: 24px;
}

.info-left-img img {
  width: 100%;
}

.info-left-text {
  width: 90%;
}

.info-left-text h2 {
  padding-top: 32px;
  padding-bottom: 24px;
}

.info-left-text .quotation {
  padding-top: 24px;
  padding-bottom: 32px;
}

.info-right {
  width: 40%;
  height: auto;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  padding: 32px 24px;
  align-items: center;
}


.info-slot {
  display: flex;
  width: 100%;
  height: auto;
  background-color: lightgrey;
  margin-bottom: 16px;
}

.info-right-img {
  max-width: 35%;
}

.info-right-img-mobile {
  display: none;
}

.info-right-img img {
  width: 100%;
  height: 100%;
}

.info-right-text {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  padding-top: 24px;
  padding-left: 2rem;
}

.info-right-text p {
  padding-top: 8px;
  padding-bottom: 8px;
}

.info-right-text a {
  text-decoration: none;
}

/* section heading */

.section-heading {
  display: flex;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  justify-content: center;
}


/* learning section */

.learning {
  background-color: lightgrey;
}

.learning-slots {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin-left: 72px;
  margin-right: 72px;
}

.learning-slot {
  height: auto;
  width: 31%;
  box-sizing: border-box;
  margin-bottom: 32px;
  background-color: white;
}

.learning-slot-img {
  height: auto;
  width: 100%;
}

.learning-slot-img img {
  width: 100%;
}


.learning-slot-text {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding-top: 16px;
  padding-left: 16px;
}



.learning-slot-text a {
  text-decoration: none;
  color: grey;
}


/* exhibition section */

.exhibit {
  width: 100%;
}

.exhibit-left {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 24px;
}

.exhibit-video {
  width: 100%;
  height: auto;
}

.exhibit-video video {
  width: 100%;
}

.exhibit-right {
  width: 40%;
  height: auto;
  margin-left: 24px;
  display: flex;
  flex-direction: column;
}


.exhibit-slot {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}

.exhibit-right-img {
  height: auto;
  max-width: 35%;
}

.exhibit-right-img img {
  width: 100%;
  height: 100%;
}

.exhibit-right-text {
  display: flex;
  width: 65%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding-left: 2rem;
}

.exhibit-left-text {
  width: 90%;
}

.exhibit-left-text h2 {
  padding-top: 32px;
  padding-bottom: 24px;
}

.exhibit-left-text p {
  margin-bottom: 32px;
}

/* footer */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 16px;
}



.copyright {
  display: flex;
  align-items: center;
}

footer nav {
  text-align: right;
  padding-right: 24px;
}


/* media queries for mobile screens */

@media only screen and (max-width: 870px) {

html {
  margin: 0;
  padding: 0;
}
/*header */
.reg_nav {
  display: none;
}

.mobile_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
}

.mobile_nav span {
  display: inline;
}

/* main banner section */

.main-banner {
  display: flex;
  flex-direction: column;
  background-size: cover;
}

.main-banner img {
  width: 100%;
}

.banner-img {
  width: 100%;
}

.banner-text {
  width: 100%;
}



/* info-section */

.info-left {
  display: none;
}

.info-right {
  display: flex;
  width: 100%;
  padding: 0;
}

.info-slot {
  display: flex;
  flex-direction: column;
  width: auto;
  padding: 16px;
  background-color: white;
}

.info-right-img {
  display: none;
}

.info-right-img-mobile {
  display: flex;
}

.info-right-text {
  width: 100%;
  padding-left: 16px;
}

/* section heading */

.section-heading {
  width: 100%;
  margin-bottom: 16px;
}

/* learning section */

.learning {
  background-color: white;
  margin-bottom: 32px;
}

.learning-slots {
  display: flex;
  flex-direction: column;
}

.learning-slot {
  width: 100%;
  background-color: lightgrey;
}

.learning-slot-img {
  display: none;
}

.learning-slot-text p {
  display: none;
}

.learning-slot h4 {
  padding: 16px 0 24px 16px;
  margin-bottom: 8px;
}

/* exhibition section */

.exhibit {
  margin-bottom: 24px;
}

.exhibit-left-text {
  display: none;
}

.exhibit-right {
  display: none;
}

.exhibit-video {
  object-fit: contain;
}



/* mobile footer */

footer nav {
  display: none;
}
